<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
   
    <script type="text/javascript" src="/static/app/testController.js" th:src="@{/app/testController.js}"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="Controller as vm">
    <h1>Hi</h1>
    <button type="button" ng-click="controllerFunction()" class="btn btn-default">ctrlFunc</button>
    
    {{output}}
</div>
</body>
</html>